target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
.recommenders/

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/maven-wrapper.jar
!**/src/test/**/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

!**/src/main/**/.gitkeep
!**/src/test/**/.gitkeep

*.log
*.sql
*.dat
*.bak

.classpath
.project
.settings/
.springBeans
.sts4-cache/

.idea/
*.iws
*.iml
*.ipr
.vscode/