DASHSCOPE_KEY=YOUR_DASHSCOPE_API_KEY
WX_CLOUD_MODE=YOUR_WX_CLOUD_MODE
2FA_SMS_PROVIDER=YOUR_SMS_PROVIDER
PII_ADMIN_PASSWORD_PEPPER=YOUR_32BYTE_RANDOM
PII_ADMIN_PASSWORD_HASH=YOUR_SHA256_PEPPER_PASSWORD
PII_ADMIN_TOTP_SECRET=YOUR_TOTP_BASE32
PII_JWT_SECRET=YOUR_32BYTE_RANDOM
PII_ADMIN_SMS_CODE=YOUR_TEST_6DIGIT_OR_EMPTY
